<!DOCTYPE html>
<html>
<head>
    <title>Shortlink App</title>
    <link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">

        <% if @shortcode %>
        <div class="result">
            Your shortened URL is:
            <a href="http://<%= @host_with_port %>/<%= @shortcode %>">http://<%= @host_with_port %>/<%= @shortcode %></a>
        </div>
        <% end %>

        <div>
            <a href="/">&lt; back<a>
        </div>
        
    </div>
</body>